player-connection-mode=Listen
player-connection-guid=3378259885
player-connection-debug=1
player-connection-project-name=Good Luck Valley
player-connection-ip=192.168.1.185
gfx-enable-gfx-jobs=1
gfx-threading-mode=6
wait-for-native-debugger=0
wait-for-managed-debugger=0
managed-debugger-fixed-port=0
hdr-display-enabled=0
gc-max-time-slice=3
build-guid=20f1cda02a064aa09fc024755e0f856d
